.root{
    padding-bottom: 119px;
    padding-top: 60px;
}

.title{
    font-size: 40px;
    font-weight: 700;
    color: var(--color-main);
}

.columnRow{
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.column{
    display: flex;
    flex-direction: column;
}

.columnTitle{
    margin-top: 25px;
    font-size: 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.30);
}

.columnValue{
    margin-top: 16px;
    font-size: 28px;
    color: var(--color-main);
    font-weight: 400;
}

.columnBage{
    max-width: 115px;
    margin-top: 16px;
    padding: 12px;
    color: var(--color-main);
    font-size: 24px;
    font-weight: 500;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.10) 100%);
    border-radius: 8px;
}