@import './reset.css';

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,400;1,700;1,900&display=swap');


body{
    display: flex;
    
}

img{
    user-select: none;
}


:root{
    --back-main: #09090C;
    --color-main: #fff;
    --color-accent: rgb(106, 17, 203);
}