.root{
    height: 780px;
    position: relative;
}

.backImg{
    position: absolute;
    top: 0;
    right: 0;
    width: 1400px;
    height: 780px;
    z-index: 0;
}

.topContent{
    position: absolute;
    z-index: 10;
    top: 90px;
}

.tagsRow{
    padding-top: 32px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.rating{
    padding: 14px 22px 12px 22px;
    font-size: 28px;
    font-weight: 500;
    color: var(--color-main);
    border-radius: 12px;
    background:  rgba(255, 255, 255, 0.20);

    display: flex;
    align-items: center;
    justify-content: center;
}

.tag{
    font-size: 28px;
    font-weight: 400;
    color: var(--color-main);
}

.text{
    padding-top: 20px;
    max-width: 735px;
    color: var(--color-main);
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
}

.btnRow{
    padding-top: 112px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.btnSee{
    background: linear-gradient(90deg, #6A11CB 0%, #2575FC 100%);
    padding: 24px 32px;
    border-radius: 16px;
    width: 201px;
    height: 80px;
    font-size: 30px;
    font-weight: 500;
    color: var(--color-main);
    user-select: none;
}

.trailer{
    padding: 24px 32px;
    width: 184px;
    height: 80px;
    border-radius: 16px;
    font-size: 30px;
    font-weight: 500;
    color: var(--color-main);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.10) 100%);
    backdrop-filter: blur(10px);
    user-select: none;
}

.actionBtn{
    padding: 24px 32px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.10) 100%);
    backdrop-filter: blur(10px);
    user-select: none;
    border-radius: 16px;
    width: 96px;
    height: 80px;
}

.icon{
    width: 32px;
    height: 32px;
}


.pagination{
    padding-top: 112px;

    display: flex;
    align-items: center;
    gap: 44px;
}

.paginationText{
    font-size: 40px;
    font-weight: 700;
    color: var(--color-main);
}

.paginationBtnRow{
    display: flex;
    align-items: center;
    gap: 20px;
}

.paginationBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #232326;
    font-size: 24px;
    font-weight: 500;
    color: #BABABA;
    cursor: pointer;
    user-select: none;
}

.paginationBtn.active{
    color: #000;
    background: var(--color-main);
}